body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Components{
  display: flex;
  justify-content: space-evenly;
  padding-block: 4vh;
  align-items: center;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar img{
  max-width: 140px;
  padding: 10px;
  margin-inline:40px;
}

.title{
  
  padding: 20px;
  font-size: xx-large;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #1e1087 29%,
    #13c4ff 67%,
    #0077ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;  
}
.Footer{
  text-align: center;
  font-size: small;
  padding: 20px;
  background: #141681;
  color: white;
}

@media only screen and (max-width:768px) {
  .Components{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
